header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    text-align: center;
}

.cabecalho__mensagem {
    font-size: 1em;
    font-weight: 600;
    color: var(--color-red);
    margin: 6em 0 1.5em 0;
}

.cabecalho__titulo {
    font-size: 3em;
    font-weight: 600;
    color: var(--color-darkblue);
}

.cabecalho__texto {
    font-size: 1.25em;
    line-height: 1.8rem;
    margin: 2.25em 22% 6.68em 22%;
}

@media screen and (max-width: 1024px) {

    .cabecalho__mensagem {
        margin: 3rem 0 1.5rem 0;
    }

    .cabecalho__titulo {
        font-size: 2rem;
        margin: 0 2% 0 2%;
    }

    .cabecalho__texto {
        margin: 2.25rem 2% 3.30rem 2%;
    }

}