nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-white);
  font-weight: 500;
  align-items: center;
  padding: 1.12rem 0;
}

.navbar__imagem {
  margin: 0 0 0 3rem;
}

.navbar__menu {
  display: flex;
  margin: 0 15rem 0 0;
  gap: 2rem;
}

.navbar__menu li {
  text-decoration: none;
  cursor: pointer;
}

.navbar__buttons a {
  display: inline-block;
  font-family: var(--font-principal);
  color: var(--color-blue);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0.75rem 1.12rem;
}

a#signup {
  background-color: var(--color-red);
  color: var(--color-white);
  margin: 0 3rem 0 0.75rem;
}

@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    font-weight: 500;
    align-items: center;
    padding: 1.12rem 0;
  }

  .navbar__imagem {
    margin: 1rem 0 0 0;
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    gap: 1rem;
  }

  a#signup {
    background-color: var(--color-red);
    color: var(--color-white);
    margin: 0;
  }
}