@import url("/styles/reset.css");
@import url("/styles/components/nav.css");
@import url("/styles/components/header.css");
@import url("/styles/components/metrics.css");
@import url("/styles/components/talents.css");
@import url("/styles/components/vacancies.css");
@import url("/styles/components/opinions.css");
@import url("/styles/components/follow.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-blue: #667085;
    --color-darkblue: #101828;
    --color-whiteblue: #98A2B3;
    --color-blueborder: #D0D5DD;
    --color-red: #8E2424;
    --color-red-5: rgb(142, 36, 36, 0.05);
    --color-border: #EAECF0;

    --font-principal: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--font-principal);
    color: var(--color-blue);
    font-size: 1em;
    font-weight: 400;
}